# Bỏ qua thư viện Node.js
node_modules/
api-gateway/node_modules/
video-worker/node_modules/

# Bỏ qua các file cấu hình chứa mật khẩu nhạy cảm
.env
api-gateway/.env
video-worker/.env

# Bỏ qua file log
*.log
npm-debug.log*
video-worker/temp/
my-api-test