{
	email {$ACME_EMAIL}
}

{$APP_HOST} {
	handle /api/* {
		reverse_proxy api-gateway:5000
	}

	reverse_proxy frontend:80
}

{$API_HOST} {
	reverse_proxy api-gateway:5000
}

{$MEDIA_HOST} {
	reverse_proxy minio:9000
}

{$LIVEKIT_HOST} {
	reverse_proxy livekit:7880
}
