@import "tailwindcss";

@theme {
  --color-primary: #e60a15;
  --color-primary-hover: #b30810;
  --color-bg-dark: #120808;
  --color-surface-dark: #221011;
  --color-neutral-dark: #392829;
  --color-text-primary: #ffffff;
  --color-text-secondary: #a3a3a3;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-bg-dark text-text-primary font-sans antialiased;
  }
}
